/*Animations*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-1rem) rotateX(100deg); }
  80% {
    transform: translate(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* line 1, sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, sass/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 10, sass/base/_base.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

/* line 1, sass/base/_typography.scss */
.heading-primary {
  color: #fff; }
  /* line 3, sass/base/_typography.scss */
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInRight 1.4s ease-in; }
  /* line 10, sass/base/_typography.scss */
  .heading-primary--sub {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.76rem;
    animation: moveInLeft 1.4s ease-out;
    margin-bottom: 6rem; }

/* line 19, sass/base/_typography.scss */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  margin-bottom: 4rem; }
  /* line 29, sass/base/_typography.scss */
  .heading-secondary:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1); }

/* line 34, sass/base/_typography.scss */
.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

/* line 40, sass/base/_typography.scss */
.paragraph {
  color: #777;
  font-size: 2rem; }
  /* line 43, sass/base/_typography.scss */
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* line 1, sass/base/_utility.scss */
.u-center-text {
  text-align: center; }

/* line 3, sass/base/_utility.scss */
.u-margin-bottom-small {
  margin-bottom: 2rem; }

/* line 4, sass/base/_utility.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem; }

/* line 5, sass/base/_utility.scss */
.u-margin-bottom-large {
  margin-bottom: 8rem; }

/* line 1, sass/layouts/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/bg-image.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative; }
  /* line 9, sass/layouts/_header.scss */
  .header__logo-box.logo {
    height: .5rem;
    width: .5rem; }
  /* line 13, sass/layouts/_header.scss */
  .header__logo {
    width: 20rem;
    height: 21rem; }
  /* line 17, sass/layouts/_header.scss */
  .header__logo-box a img {
    width: 15rem;
    height: 16rem; }
  /* line 21, sass/layouts/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 27, sass/layouts/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  /* line 34, sass/layouts/_header.scss */
  .header-primary {
    text-transform: uppercase;
    color: #fff; }

/* line 40, sass/layouts/_header.scss */
header {
  display: block; }

/* line 43, sass/layouts/_header.scss */
div {
  display: block; }

/* line 46, sass/layouts/_header.scss */
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

/* line 56, sass/layouts/_header.scss */
::selection {
  color: #fff;
  background-color: #55c57a; }

/* line 2, sass/components/_button.scss */
.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-transform: uppercase;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

/* line 15, sass/components/_button.scss */
.btn--animated {
  animation: moveinbot 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

/* line 20, sass/components/_button.scss */
.btn--white {
  color: #777;
  background-color: #fff; }

/* line 24, sass/components/_button.scss */
.btn--white::after {
  background-color: #fff; }

/* line 27, sass/components/_button.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1rem 2rem; }

/* line 31, sass/components/_button.scss */
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

/* line 36, sass/components/_button.scss */
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.5rem 1rem; }

/* line 43, sass/components/_button.scss */
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

/*Section btn-text*/
/* line 59, sass/components/_button.scss */
.btn-text {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  color: #55c57a;
  transition: all .2s; }
  /* line 66, sass/components/_button.scss */
  .btn-text:link {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    color: #fff;
    transition: all .2s; }
  /* line 74, sass/components/_button.scss */
  .btn-text:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  /* line 77, sass/components/_button.scss */
  .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }

/* line 1, sass/layouts/_grid.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, sass/layouts/_grid.scss */
html {
  font-size: 62.5%; }

/* line 9, sass/layouts/_grid.scss */
body {
  font-style: "elephant", san-serif;
  font-size: 2rem; }

/*Section part*/
/* line 17, sass/layouts/_grid.scss */
.row {
  width: 144rem;
  margin: 0 auto;
  margin-right: 6rem;
  display: flex; }
  /* line 22, sass/layouts/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  /* line 26, sass/layouts/_grid.scss */
  .row .col-1-of-1 {
    color: #777;
    width: 40rem;
    background-color: #f7f7f7;
    float: left;
    margin-right: 8rem;
    text-align: justify; }
  /* line 35, sass/layouts/_grid.scss */
  .row .col-2-of-1 {
    color: #777;
    width: calc((100% - 6rem) / 2);
    background-color: #f7f7f7;
    float: left; }
    /* line 42, sass/layouts/_grid.scss */
    .row .col-2-of-1:not(:last-child) {
      margin-right: 6rem; }

/* line 1, sass/pages/_home-page.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  margin: 0 auto; }

/* line 7, sass/pages/_home-page.scss */
.section-features {
  padding: 20rem 0;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/photo_2.jpg);
  background-size: cover;
  background-position: center; }

/* line 1, sass/components/_composition.scss */
.composition {
  position: relative; }
  /* line 4, sass/components/_composition.scss */
  .composition__photo {
    width: 55%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    outline-offset: 1rem;
    transition: all .2s; }
    /* line 13, sass/components/_composition.scss */
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    /* line 18, sass/components/_composition.scss */
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    /* line 23, sass/components/_composition.scss */
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    /* line 28, sass/components/_composition.scss */
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      outline: 1rem solid #55c57a; }
  /* line 36, sass/components/_composition.scss */
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

/* line 1, sass/components/_feature-box.scss */
.features-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  /* line 9, sass/components/_feature-box.scss */
  .features-box__icon {
    font-size: 6rem; }
