/*Animations*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-1rem) rotateX(100deg); }
  80% {
    transform: translate(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* line 1, sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, sass/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 10, sass/base/_base.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

/* line 2, sass/base/_typography.scss */
.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInRight 1.4s ease-in; }

/* line 9, sass/base/_typography.scss */
.heading-primary--sub {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.76rem;
  animation: moveInLeft 1.4s ease-out;
  margin-bottom: 6rem; }

/* line 1, sass/layouts/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/bg-image.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative; }
  /* line 9, sass/layouts/_header.scss */
  .header__logo-box.logo {
    height: .5rem;
    width: .5rem; }
  /* line 13, sass/layouts/_header.scss */
  .header__logo {
    width: 20rem;
    height: 21rem; }
  /* line 17, sass/layouts/_header.scss */
  .header__logo-box a img {
    width: 15rem;
    height: 16rem; }
  /* line 21, sass/layouts/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 27, sass/layouts/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  /* line 34, sass/layouts/_header.scss */
  .header-primary {
    text-transform: uppercase;
    color: #fff; }

/* line 40, sass/layouts/_header.scss */
header {
  display: block; }

/* line 43, sass/layouts/_header.scss */
div {
  display: block; }

/* line 46, sass/layouts/_header.scss */
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

/* line 56, sass/layouts/_header.scss */
::selection {
  color: #fff;
  background-color: #55c57a; }

/* line 2, sass/components/_button.scss */
.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-transform: uppercase;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

/* line 15, sass/components/_button.scss */
.btn--animated {
  animation: moveinbot 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

/* line 20, sass/components/_button.scss */
.btn--white {
  color: #000;
  background-color: #fff; }

/* line 24, sass/components/_button.scss */
.btn--white::after {
  background-color: #fff; }

/* line 27, sass/components/_button.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1rem 2rem; }

/* line 31, sass/components/_button.scss */
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

/* line 36, sass/components/_button.scss */
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.5rem 1rem; }

/* line 43, sass/components/_button.scss */
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

/* line 1, sass/layouts/_grid.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, sass/layouts/_grid.scss */
.row {
  margin-bottom: 15px; }
