//Variables
$color-primary: #55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark: #28b485;
$color-white:#fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light-1:#f7f7f7;
$grid-width: 144rem;
$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;
$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;
$margin-bottom-large: 8rem;

