//Functionality
.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 53rem;

    &__side{
        height: 53rem;
        transition: all .8s;
        color: $color-black;
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
        &--front{
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);             
            &_1{
                background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark);
                background-color: blue;
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    } 
    &:hover &_-side--back-1{
        transform: rotateY(0);
    }       
}