*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    font-size: 62.5%;
}
body{
    font-style: 'elephant', san-serif;
    font-size: 2rem;
    // padding: 3rem;
}
.row{
    width: $grid-width;
    margin: 0 auto;
    margin-bottom: $vertical-gutter;
    margin-right: $horizontal-gutter;
    & .col-1-of-1{
        border: 1px solid black;
        background-color: red;
        color: white;
        width: calc((100% - #{$horizontal-gutter})/2);
    }
        
        & .col-2-of-1{
            border: 1px solid black;
            background-color: red;
            color: $color-white;
            width: calc((100% - #{$horizontal-gutter})/2);
            float: left;
            // @include clearfix; 

    }



}
@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;}
} 