* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-style: "elephant", san-serif;
  font-size: 2rem;
  //   padding: 3rem;
}

/*Section part*/

.row {
  width: $grid-width;
  margin: 0 auto;
  margin-right: $horizontal-gutter;
  display: flex;
  &:not(:last-child) {
    margin-bottom: $vertical-gutter;
  }

  & .col-1-of-1 {
    color: $color-grey-dark;
    width: 40rem;
    background-color: $color-grey-light-1;
    float: left;
    margin-right: $vertical-gutter;
    text-align: justify;
  }
  
  & .col-2-of-1 {
    color: $color-grey-dark;
    width: calc((100% - #{$horizontal-gutter}) / 2);
    // width: 40rem;
    background-color: $color-grey-light-1;
    float: left;

    &:not(:last-child) {
      margin-right: $horizontal-gutter;
    }
  }
}
// @mixin clearfix {
//   &::after {
//     content: "";
//     clear: both;
//     display: table;
//   }
// }
